<div class="row">
  <div class="col">
    <h2 class="text-center">Produtos</h2>
    <div class="container">
      <div class="row mb-3">
        <div class="col d-flex justify-content-end">
          <a [routerLink]="['/', 'newProd']" class="btn btn-primary float-right">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Cadastrar novo
          </a>
        </div>
        <div class="form-group">
          <label for="pesquisarPorId">Código:</label>
          <input type="text" class="form-row" id="pesquisarPorId" name="pesquisarPorId" [(ngModel)]="codeProduct">
          <button type="submit" class="btn btn-primary float-right" (click)="redirect()">
            Pesquisar
          </button>
        </div>
      </div>
      </div>
      
      <div>

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Código</th>
            <th>Produto</th>
            <th>Em estoque</th>
            <th>Valor (R$)</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let produto of showProducts">
            <td>
              <a [routerLink]="['/product', produto.id]" class="btn btn-link">
                {{ produto.id }}
              </a>
            </td>
            <td>
              {{ produto.title }}
            </td>
            <td>
              {{ produto.stock }}
            </td>
            <td>
              {{ produto.price }}
            </td>
          </tr>
        </tbody>
      </table>

      <p *ngIf="showProducts.length==0"> Nenhuma produto cadastrado.</p>
    </div>
  </div>
</div>
