<h2>Editar produto</h2>

<div>
    <a [routerLink]="['/product', product.id]" class="btn btn-outline-primary">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar
    </a>
</div>

<form #formProduct="ngForm" (ngSubmit)="updateProduct()">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Produto</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Desconto</th>
                <th>Avaliação</th>
                <th>Em Estoque</th>
                <th>Marca</th>
                <th>Categoria</th>
                <th>Thumbnail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="product">
                <td>{{ product.id }}</td>
                <td><input type="text" [(ngModel)]="product.title" name="title"></td>
                <td><input type="text" [(ngModel)]="product.description" name="description"></td>
                <td><input type="number" [(ngModel)]="product.price" name="price"></td>
                <td><input type="number" [(ngModel)]="product.discountPercentage" name="discount"></td>
                <td><input type="number" [(ngModel)]="product.rating" name="rating"></td>
                <td><input type="number" [(ngModel)]="product.stock" name="stock"></td>
                <td><input type="text" [(ngModel)]="product.brand" name="brand"></td>
                <td><input type="text" [(ngModel)]="product.category" name="category"></td>
                <td><input type="url" [(ngModel)]="product.thumbnail" name="thumbnail"></td>
            </tr>
        </tbody>
    </table>
    <td>
        <div class="form-group">
            <label for="images">Imagens:</label>
            <div *ngFor="let image of product.images; let i = index">
                <div class="input-group mb-3">
                    <input type="url" class="form-control" id="image_{{i}}" name="image_{{i}}"
                        [(ngModel)]="product.images[i]">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-danger" (click)="removeImage(i)">Excluir</button>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary mb-3" (click)="addImage()">Adicionar Imagem</button>
        </div>
    </td>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>